* {
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffffff);
    justify-content: center;
    align-items: start;
    display: flex;
    margin: 0;
}

#container {
    /*background-color: #fff;*/
    background-color: linear-gradient(180deg, #00796b, #009688);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 95%;
    min-width: 280px;
    overflow: hidden;
    margin-top: 100px;
    padding: 50px;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.informacoes2 {
    background: linear-gradient(to top, #03ddc0, #168175);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    margin: 20px 0;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 100);
    flex-wrap: wrap;
}

.informacoes2c {
    font-size: 36px;
    font-weight: bold;
    word-break: break-word;
}

.chart-container {
    background-color: #f9f9f9;
    padding: 50px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 50px;
}

.additional-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.input-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1200px;
}

h2,
h3 {
    margin: 0;
    font-weight: bold;
    display: block;
    align-items: center
}

canvas {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao {
    position: relative;
    color: white;
    border: none;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    min-width: 150px;
    display: inline-block;
    width: 20%;
    background: linear-gradient(to left, #00bfa5, #04443e);
    transition: transform 0.4s ease, color 0.4s ease;
    z-index: 1;
}

.botao::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #4FC1E9, #8aca40);
    opacity: 0;
    transition: opacity 1.5s ease;
    z-index: -1;
    border-radius: 15px;
}

.botao:hover::before {
    opacity: 2;
}

.botao:hover {
    transform: scale(1.1);
    color: #12181C;
}

.bloco_section {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.titulo-trens {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #0b6b61;
}

.trens-flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    flex-wrap: wrap;
}

.card-trem {
    background: #f9f9f9;
    width: 30%;
    min-width: 260px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.13);
}

.card-trem h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #00695c;
}

.card-trem p {
    margin-bottom: 20px;
    font-size: 16px;
}

.sensor-flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    flex-wrap: wrap;
}

.card-sensor {
    background: #f9f9f9;
    width: 20%;
    min-width: 260px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.13);
}

.card-sensor h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #00695c;
}

.card-sensor p {
    margin-bottom: 20px;
    font-size: 16px;
}

/* Estilos específicos para a seção de chamados centralizados */
.chamados-centralizados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chamados-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* Espaçamento entre os cards */
    width: 100%;
    flex-wrap: wrap;
}

.card-chamado {
    background: #f9f9f9;
    width: 30%;
    min-width: 260px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.13);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-chamado h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #00695c;
}

.card-chamado p {
    margin-bottom: 20px;
    font-size: 16px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

#popup.active {
    display: block;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#overlay.active {
    display: block;
}

.popup-chamado {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 30px;
    width: 40%;
    max-width: 400px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: popupShow 0.3s ease-out;
    z-index: 1000;
    overflow-y: auto;
    max-height: 90vh;
}

.popup-conteudo select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 16px;
    background: #fff;
}

.titulo-popup {
    text-align: center;
    color: #00695c;
    margin-bottom: 20px;
    font-size: 26px;
}

.popup-conteudo label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

.popup-conteudo input,
.popup-conteudo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 16px;
}

#dashboard-copiado {}

.dashboard-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

.box {
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.box-large {
    grid-column: span 3;
}

.box-tall {
    grid-row: span 2;
}

.box-wide {
    grid-column: span 2;
}


.titulo-box {
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
}


.lista-info {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.lista-info li {
    font-size: 14px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.tag {
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.yellow {
    background: #f4d03f;
}

.orange {
    background: #e67e22;
}

.blue {
    background: #3498db;
}

.green {
    background: #27ae60;
}

.red {
    background: #e74c3c;
}


.label-green {
    background: #27ae60;
    padding: 6px 12px;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
}

.label-blue {
    background: #3498db;
    padding: 6px 12px;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
}

.label-red {
    background: #e74c3c;
    padding: 6px 12px;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
}

@media (min-width: 901px) {
    body {
        justify-content: center;
        align-items: start;
        display: flex;
        margin: 0;
    }

    #container {
        margin: 0;
        margin-top: 120px;
        width: 75%;
        padding: 50px;
    }
}