* {
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
    height: 100vh;
    gap: ;
=======
    align-items: start;
    display: flex;
>>>>>>> c89d7d76be5b3fbfc283162079ff2954c5161a8f
}

#container {
    /*background-color: #fff;*/
    background-color: linear-gradient(180deg, #00796b, #009688);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 70%;
    min-width: 280px;
    overflow: hidden;
    margin-top: 150px;
    padding: 50px;
    background-color: white;
    margin-bottom: 150px ;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color:  #999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.chart-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1200px;
    margin-bottom: 20px;
}

.additional-inputs {
    display: flex;
    flex-direction: column; /* Organiza as caixas de texto verticalmente */
    align-items: center;
    gap: 40px; /* Espaçamento vertical entre as caixas de texto */
}

.input-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1200px; /* Tamanho das caixas de texto */
}

h2, h3 {
    margin: 0;
    font-weight: bold;
    display: block;
    align-items: center
}

canvas {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 452px) {
 
    .chart-container {
        width: 200px;

    }

}