.menu-icon {
    position: fixed;
    font-size: 26px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 9999;
    top: 15px;
    left: 15px;
    bottom: unset;
    background-color: none;
}


.menu-icon:hover {
    color: #00ffdd;
}

.header-icons {
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-lateral {
    position: fixed;
    top: 0;
    border-right: #1da190  4px solid;
    border-bottom: #1da190 4px solid;
    border-top: #1da190  4px solid;
    left: -15%;
    height: 100%;
    width: 15%;
    background-color: #999;
    transition: left 0.4s;
    overflow-y: auto;
    z-index: 9999;
    color: #eee;
}

.menu-lateral ul{
    list-style: none;
}

.menu-lateral :hover{
    text-decoration: none;   
}

.txt-link {
    color: #000000;
    margin: auto;
    text-decoration: none;
    font-size: 24px;
    list-style: none;
    transition: 0.4s;
}

a:hover .txt-link  {
    color: #00796b;
    transform: scale(1.1);
}

.item-menu {
    margin: 10px;
    padding-left: 10px;
    margin-left: 40px;
}

.menu-lateral.aberto {
    left: 0;
}


.container.menu-aberto {
    margin-left: 250px;
    transition: margin-left 0.3s;
}