
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#container {
    /*background-color: #fff;*/
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 2);
    width: 95%;
    min-width: 280px;
    overflow: hidden;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;

    justify-content: space-between;

}


#messages{
    height: 70vh;
}

#chat-header{
    background: linear-gradient(to bottom, #03ddc0, #0d4d46);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.message-input {
    display: flex;
    gap: 10px;
}

.message-input textarea {
    flex: 1;
    resize: none;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.message-input button {
    padding: 10px 20px;
    background-color: gradient #03ddc0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}







@media (min-width: 901px) {
    body {
        justify-content: center;
        align-items: start;
        display: flex;
        margin: 0;

    }

    #container {
        margin: 0;
        margin-top: 120px;
        width: 75%;
        padding: 50px;
    }

    #messages{
        height: 30vh;
    }
}
