body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 375px;
    height: 812px;
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.navbar {
    border-radius: 25px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 20px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
}

.thuus {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #444444;
    margin: 10px;
}

.thu1 {
    margin: 5px 0;
    width: 175px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.thu2 {
    margin: 5px 0;
    width: 155px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.thu3 {
    margin: 5px 0;
    width: 175px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.thu4 {
    margin: 5px 0;
    width: 135px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.thu5 {
    margin: 5px 0;
    width: 175px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.thu6 {
    margin: 5px 0;
    width: 125px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.thu7 {
    margin: 5px 0;
    width: 175px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.thu8 {
    margin: 5px 0;
    width: 175px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.informacoes {
    margin: 10px;
    width: 175px;
    border-radius: 15px;
    text-align: left;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 30px 20px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.informacoes2\ {
    margin: 10px;
    width: 175px;
    border-radius: 15px;
    text-align: left;
    background-color: rgba(216, 216, 216, 0.8);
    padding: 30px 20px;
    color: rgba(0, 0, 0, 0.719);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}