body{
    margin: 0;
    width: 375px ;
    height: 812px ;
    background-color: antiquewhite;
    align-items: center;
    position: absolute;
}

#cabe{
    text-align: center;
    background-color: aqua;
    height: 30px;
    width: 375px;
}

#login{
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{

}

#formCadasterUser{

}

#Registro{
    background-color: powderblue;
}
