* {
    padding: 0;
    box-sizing: border-box;
}



body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffffff);
    justify-content: center;
    align-items: start;
    display: flex;
    margin: 0;
}

#container {
    /*background-color: #fff;*/
    background-color: linear-gradient(180deg, #00796b, #009688);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    min-width: 280px;
    overflow: hidden;
    margin-top: 120px ;
    padding: 0px;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.conteudo {
    text-align: center;
    flex: 1;
    padding-top: 1%;
    background: #fff;
    border-radius: 5px;
}

.menu-toggle-secundario {
  top: 70px;
  font-size: 22px;
  background: #009688;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  z-index: 1000;
}

#lado {
  background: #e4e4e4;
  padding: 10px;
}

.hidden-lado {
  display: none;
}

.menu-segunda {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* ---------- Conteúdo ---------- */
.flex {
  padding-top: 5%;
  display: flex;
}

/* ---------- Responsivo ---------- */
@media (max-width: 768px) {
  .menu-lateral {
    position: fixed;
    width: 200px;
    transform: translateX(-100%);
  }

  .menu-toggle-secundario {
    left: 20px;
    top: 70px;
  }

  #lado {
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 998;
    margin-left: 0;
    width: 80%;
  }

  .flex {
    margin-left: 0;
    flex-direction: column;
    padding: 20px;
  }
}