body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffffff);
    justify-content: center;
    align-items: start;
    display: flex;
    margin: 0;
}

#container {

    margin: 0 auto;
    border-radius: 20px;
    width: 70%;
    min-height: 900px;
    max-height: 1080px;
    height: 100%;
    gap: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: white;
}

#cabe {
    text-align: center;
    background-color: #999;
    height: 60px;
    line-height: 60px;
    width: 100%;
    animation: surge 2s ease-in-out;
}


.envia {
    position: relative;
    color: white;
    border: none;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 18px;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    min-width: 150px;
    display: inline-block;
    width: 20%;
    background: linear-gradient(to right, #00bfa5, #2a5c57);
    transition: transform 0.4s ease, color 0.4s ease;
    z-index: 1;
}

.envia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #4FC1E9, #408cca);
    opacity: 0;
    transition: opacity 1.5s ease;
    z-index: -1;
    border-radius: 15px;
}


.envia:hover::before {
    opacity: 1;
}

.envia span {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;
}

.envia:hover {
    transform: scale(1.1);
    color: #12181C;
}


fieldset {
    margin: 8px;
    border: none;
}

.oplog {
    justify-content: center;
    display: flex;
}

.oplog img {
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}






@media (min-width: 901px) {
    body {
        justify-content: center;
        align-items: start;
        display: flex;
        margin: 0;

    }

    #container {
        margin: 0;
        margin-top: 120px;
        width: 75%;
        padding: 50px;
    }
}